{{>header}}
    <title>About</title>
    <p>This site was created by the author as a way to test his skills in node.</p>
    <img class="portrait" src="/img/me.jpg" alt="it's me!"> <!-- height='25%' width='25%'>-->

{{>footer}}