{{>header}}
    <title>Home</title></Home>

    <h2>Welcome to the weather site by {{name}}</h2>

    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
<p id="message-1">Error: Javascript Disabled - enable to use this page</p>
<p id="message-2"></p>

{{>footer}}
    <script src='/js/app.js'></script>
