<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

<header>

    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/weather">Weather API access</a>
</header>

<body>
    <h1>{{title}}</h1>
